.container-forms {
   width: 600px; 
  margin: auto;
  justify-content: center;
 }

 h1 {
   text-align: center;
 }

 Form {
   background: rgb(181, 212, 251);
   width: 50%;
   height: 70%;
   margin: 0 auto;
   text-align: center;
   border: 2px rgb(86, 81, 81) solid;
   border-radius: 10px;
   margin-top: 50px;
   padding: 50px;
}

.form-control {
   width: 400px;
   text-align: center;
   align-items: center;
   justify-items: center;
}